* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-size: 0.95em;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
}

table {
    border-collapse: collapse; /* nimmt die leeren Felder zwischen den Tabellen */
    /*background-color: red;*/
    /*background: transparent;*/    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    border: none;
}

th {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #D9AB60;
    color: #fff;
}
td {
    border: none;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    background-color: #E5E7BF;
}

.breite {
    max-width: 80px;
   
}

#spielfeldFlaeche {
     text-align: center;
}

form {
    background-color: antiquewhite;
}

.Karten0 {
    width: 80px;
    height: 80px;
    border: 1px;
    float:left;
    margin:10px;
    padding:10px;

 }

 div#container{
        position: relative;
	background-color: aquamarine;
        border: 1px;
        border-style: solid;
        border-color: coral;
        border-radius: 30px; 
	margin:20px auto;        
}

div#container > div{
        position: relative;
        /*background: url(../bilder/BildHintergrund.jpg) no-repeat;*/
	background-size: 80px 80px;
	border-style: solid;
        border-color: cadetblue;
        border-radius: 20px;
	float:left;
	margin:10px;
	cursor:pointer;
}