/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.08.2016, 10:39:34
    Author     : fonzi
*/

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-size: 0.95em;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    color:#564b47;
}
#container {
    
    max-width: 1200px;
    min-width:960px;
    margin:10px  auto;
    background-color: aquamarine;
    position: relative;
/*  width: 730px;
    height: 820px;
    border: 2px;
    border-style: solid;
    border-color: coral;
    border-radius: 30px;      */
}

table {
    border-collapse: collapse; /* nimmt die leeren Felder zwischen den Tabellen */
    /*background-color: red;*/
    /*background: transparent;*/
    border: none;
}

th {
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #D9AB60;
    color: #fff;
}
td {
    border: none;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    background-color: #E5E7BF;
}

/*input {
    text-align: right;
}*/

form {
    background-color: antiquewhite;
}

.Karten1 {
    background-image: url("../bilder/Bild1.jpg");
    background-size: 80px 80px;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    border: 1px;
    border-style: solid;
    border-color: cadetblue;
    border-radius: 20px;
 }
